@import "tailwindcss";

/* Google Fonts'tan Inter fontunu ekledim */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --background: #f0f7ff; /* Çok açık mavi arka plan */
  --foreground: #171717;
  --font-sans: 'Inter', Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono);
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body, #root, #__next {
  margin: 0;           /* Kenar boşlukları kaldırıldı */
  padding: 0;          /* İç boşluk kaldırıldı */
  width: 100vw;        /* Tam genişlik */
  height: 100vh;       /* Tam yükseklik */
  overflow-x: hidden;  /* Yatay kaydırmayı önle */
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
